[Desktop Entry]
Comment=Темная тема верхней панели Неру v1.0
Name=Неру-темная
X-KDE-PluginInfo-Author=Sadrlimanov Ramil Rashitovich
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-Name=neru-aurorae-dark
X-KDE-PluginInfo-Version=0.3.0
